.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.gameHeader {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 140px;
  margin-bottom: 15px;
  border-bottom: 1px solid #323b45;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.gameNameTitle {
  color: #fff;
}

.button {
  width: 150px;
}

.buttonContainer {
  width: 150;
  justify-content: center;
  display: flex;
}